/* 
    Document   : Frontpage
    Created on : Feb 19, 2012, 11:55:59 PM
    Author     : KARMA
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


.signup_btn{
    background:#666;
	border-style: none;
	cursor:pointer;
	width: 235px;
	color: #FFF;
	padding-top: 4px;
	padding-bottom: 6px;
}
.menu{
 float:right;
 margin-left: 20px;
 padding-left: 30px;
 font-size: 10px;
 text-decoration: none;
 }
 .menu h1{
     font-size: 20px;
}
.tb{
    
width: 200px;
height: 100px;
}
.divtableclass {
 
 color:white;
 font-family: Georgia, "Times New Roman", Times, serif;
 font-size: 20px;
 font-style: normal;
 font-weight: bold;
 
 


}
a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;


}
a:active{
    text-decoration: none;
}
body{
     background-color: #fff;
}
.mainContent{
    
    height: 550px;
    width:100%;
    background-image: url(../_images/login_img.png ) ;
 background-repeat: repeat;
}

.imgcss{
    width: 400px;
    height: 400px;
    float:left;
border-bottom-width: 1px;
border-bottom-color: black;
border-bottom-style: solid;

border-top-width: 1px;
border-top-color: black;
border-top-style: solid;

border-left-width: 1px;
border-left-color: black;
border-left-style: solid;

border-right-width: 1px;
border-right-color: black;
border-right-style: solid;

}